.regContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(10, 10, 10, 0.52), rgba(10, 19, 10, 0.73)),
    url('../../assets/collage2.png');
}

.regForm {
    width: 33vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.063rem solid lightgray;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgb(25,25,25);
}

.formHeader {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    margin: 0;
    padding: 0;
    margin-top: 5vh;
    margin-bottom: 1vh;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formHeader a svg {
    transition: ease-in 0.5s;
}

.formHeader a:hover svg {
    fill: #2a41e8;
}


.formHeader2 {
    font-size: 0.875rem;
    font-weight: 400;
    width: 81%;
    margin: 0;
    padding: 0;
    margin-bottom: 3vh;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
}

.formData {
    width: 90%;
    display: flex;
    height: 7vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5vh;
}

.formData input {
    width: 90%;
    height: 80%;
    font-family: Verdana;
    font-size: 0.75rem;
    color: black;
    text-indent: 0.313rem;
    border: 0.063rem solid lightgray;
}

.formData input:focus {
    position: static;
}

.formData input:focus {
    outline: none;
}

.formData .submit {
    background-color: #000000FF;
    color:rgba(255,255,255, 1);
    border: none;
    font-weight: 600;
    transition: ease 0.5s;
}

.formData .submit:hover {
    background-color: #2a41e8;
}

.formData2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vh;
}

.formData2 .alt {
    font-size: 0.875rem;
    text-decoration: none;
    color: #000000FF;
    display: flex;
    width: 90%;
    height: 4vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: ease-in 0.5s;
}

.formData2 .alt:hover {
    color: #2a41e8;
}

@media only screen and (max-width: 1152px) and (min-width: 1025px) {
        .regForm {
            width: 66vw;
        }
    
        .formHeader {
            font-size: 1.25rem;
            font-weight: 600;
        }
    
        .formHeader2 {
            font-size: 1rem;
        }
    
        .formData {
            margin-bottom: 1.5vh;
        }
    
        .formData input {
           font-size: 1rem;
           height: 90%
        }
}

@media only screen and (max-width: 1024px) and (min-width: 144px) {
    .regContainer {
        width: 100vw;
        height: calc(100vh / 1px);
        position: fixed;
    }  
    
    .regForm {
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(245, 245, 245, 0.97), rgba(245, 245, 245, 0.97)),
        url('../../assets/collage2.png');
    }

    .formHeader {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .formHeader2 {
        font-size: 1.125rem;
    }

    .formData {
        margin-bottom: 1.5vh;
    }

    .formData input {
       font-size: 1rem;
       height: 90%;
    }
}



