.navbar {
	height: 11vh;
	width: 100vw;
	background: white;
	/**#282830;**/
	color: #373836;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	position: fixed;
	top: 0;
	border-bottom: 1px solid lightgray;
    /**box-shadow: 0 0 1.125rem 0 rgb(0 0 0 / 12%);**/
}

.nav-logo {
	text-decoration: none;
	color: #2a41e8;
    font-weight: bold;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-links {
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-gap: 1.25rem !important;
	list-style: none;
    margin-right: 5vh;
}

.nav-link {
	text-decoration: none;
	color: #2a41e8;
	transition: 0.3s all;
    font-size: 0.813rem;
}

.nav-link.signup {
    background-color: #2a41e8;
    color: white;
    padding: 2vh;
    font-size: 0.813rem;
    border-radius: 1vh;
    font-weight: 500;
}

.nav-link.signup:hover {
	background-color: #373836;
	color: white;
}

.nav-link:hover {
	color: #373836;
	cursor: pointer;
}

.nav-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    color: #2a41e8;
    background-color: white;
    top: 0;
}

.nav-item {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item.resp {
	display: none;
}

.nav-item:hover .nav-dropdown {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 18vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    box-shadow: 0px 6px 6px 0px rgb(225,225,225); 
}

.profileImage {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
	margin-right: 3vw;
}

@media only screen 
	and (min-width: 144px) 
	and (max-width: 1080px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (-webkit-max-device-pixel-ratio: 3) 
	{
		@-webkit-keyframes fadeIn {
			from { opacity: 0; }
			  to { opacity: 1; }
		}
		@keyframes fadeIn {
			from { opacity: 0; }
			  to { opacity: 1; }
		}

		.navbar {
			position: fixed !important;
			height: 11vh;
		}

		.nav-logo {
			font-size: 1.375rem !important; 
			margin-left: 3vh !important;
		}

		.nav-links {
			display: none !important;
		}

		/*.nav-links {
			display: flex;
			flex-direction: column;
			justify-content: space-between !important;
			align-items: flex-start !important;
			text-align: left;
			width: 100%;
			top: 0rem !important;
			left: -100%;
			transition: 0.5s all !important;
			position: absolute;
		}

		.nav-links.active {
			display: flex !important;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: flex-start;
			text-align: left;
			width: 100%;
			height: auto;
			background: white;
			margin-top: 70vh !important;
			margin-left: 
			padding-bottom: 4vh !important;
			padding-top: 1vh !important;
			padding-left: 1.25rem;
		}*/

		.nav-links.active {
			display: flex !important;
			-webkit-animation: fadeIn 1s;
    		animation: fadeIn 0.5s;
			flex-direction: column;
			height: auto;
			position: absolute;
			top: 2.75rem;
			background: white;
			width: 100vw;
			padding-top: 1vh !important;
			padding-bottom: 3vh !important;
			padding-left: 1.3rem !important;
		}

		.nav-item, .nav-item.resp {
			display: block !important;
			/*border-top: 0.063rem solid red;
			border-bottom: 0.063rem solid red;*/
		}

		.nav-item:last-child {
			margin-top: 1.5vh !important;
			margin-bottom: 1.5vh !important;
		}

		.nav-item:first-child {
			margin-top: 1.5vh;
		}

		.nav-link {
			font-size: 0.875rem !important;
			margin-left: 0vh !important;	
		}

		.nav-link.signup {
			padding: 1.5vh !important;
		}

		.nav-icon {
			display: flex !important;
		}
	}